@model ExcelExplorerApp.Models.Item

@{
    ViewData["Title"] = "Delete Item";
}

<h1>Delete Item</h1>

<p>Are you sure to delete the follow item?</p>

<div>
    <strong>Title:</strong> @Model.Title
</div>
<div>
    <strong>Department:</strong> @Model.Dept
</div>
<div>
    <strong>Division:</strong> @Model.Division
</div>
<div>
    <strong>Badge Type:</strong> @Model.BadgeType
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
</form>

<a href="@Url.Action("Index", "Item")">Back to List</a>